n8n/avito-to-lead.json
{
    "name": "Avito Lead to RepairCRM",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "avito-lead",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-avito",
            "name": "Webhook - Avito Response",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "model": "openai/gpt-4-turbo",
                "prompt": "=Extract lead information from this Avito message:\n\n{{ $json.body.message }}\n\nExtract:\n- Client name (if mentioned)\n- Phone number (if mentioned)\n- Apartment area in sq meters (if mentioned)\n- Budget in rubles (if mentioned)\n\nReturn JSON: {\"clientName\": \"\", \"phone\": \"\", \"areaSq\": 0, \"budget\": 0}",
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "openrouter-qualify",
            "name": "OpenRouter - Qualify Lead",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "1",
                    "name": "OpenRouter API"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $env.REPAIRCRM_API_URL }}/api/leads",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.REPAIRCRM_JWT_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "clientName",
                            "value": "={{ $json.clientName }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "areaSq",
                            "value": "={{ $json.areaSq }}"
                        },
                        {
                            "name": "budget",
                            "value": "={{ $json.budget }}"
                        },
                        {
                            "name": "avitoLink",
                            "value": "={{ $node['Webhook - Avito Response'].json.body.link }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-create-lead",
            "name": "HTTP - Create Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TG_MANAGER_CHAT_ID }}",
                "text": "=🆕 Новый лид из Авито!\n\n👤 Клиент: {{ $node['OpenRouter - Qualify Lead'].json.clientName || 'Не указано' }}\n📞 Телефон: {{ $node['OpenRouter - Qualify Lead'].json.phone || 'Не указано' }}\n📐 Площадь: {{ $node['OpenRouter - Qualify Lead'].json.areaSq || 'Не указано' }} м²\n💰 Бюджет: {{ $node['OpenRouter - Qualify Lead'].json.budget || 'Не указано' }} ₽\n\n🔗 Авито: {{ $node['Webhook - Avito Response'].json.body.link }}\n\n✅ Лид создан в CRM. ID: {{ $node['HTTP - Create Lead'].json.id }}",
                "additionalFields": {}
            },
            "id": "telegram-notify",
            "name": "Telegram - Notify Manager",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "2",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"leadId\": $node['HTTP - Create Lead'].json.id } }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Avito Response": {
            "main": [
                [
                    {
                        "node": "OpenRouter - Qualify Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter - Qualify Lead": {
            "main": [
                [
                    {
                        "node": "HTTP - Create Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP - Create Lead": {
            "main": [
                [
                    {
                        "node": "Telegram - Notify Manager",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram - Notify Manager": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null
}